# 리스트

표현방법

list = [요소1, 요소2, 요소3, ...]

In [2]:
a = []
b = [1,2,3]
c = ['life', 'is', 'too', 'short']
d = [1,2,'life','is']
e = list()

In [3]:
a, b, c, d, e

([], [1, 2, 3], ['life', 'is', 'too', 'short'], [1, 2, 'life', 'is'], [])

In [5]:
a == e # 빈 리스트는 [], list()로 생성할 수 있다.

True

# 리스트 인덱싱, 슬라이싱
list는 문자열과 같이 인덱싱하고 슬라이싱할 수 있다.

In [7]:
a = [1,2,3]
a[0]

1

In [8]:
a[0]+a[2]

4

In [9]:
a[-1]

3

In [10]:
a = [1,2,3,['a','b','c']]

In [11]:
a[0]

1

In [12]:
a[-1]

['a', 'b', 'c']

In [13]:
a[-1][0]

'a'

In [14]:
a = [1,2,['a','b',['life','is']]] # 삼중 리스트

In [15]:
a[0]

1

In [16]:
a[-1]

['a', 'b', ['life', 'is']]

In [17]:
a[-1][0]

'a'

In [22]:
a[-1][-1]

['life', 'is']

In [23]:
a[-1][-1][-1] # 'is'

'is'

In [24]:
a[-1][-1][0][0] # 'life'의 'l'을 나타낸다.

'l'

In [25]:
a = [1,2,3,4,5]
a[:2]

[1, 2]

In [26]:
a = '12345'
a[:2]

'12'

# 리스트 연산자

In [27]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [29]:
a = [1,2,3]
3*a # 요소를 세번 반복하게 된다.

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
a = [1,2,3]
a[2]+'hi' # 숫자와 문자열이 만나 에러나게된다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
#'3hi'가 나오려면
a = [1,2,3]
str(a[2])+'hi'

'3hi'

# 리스트 수정, 삭제

In [32]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [33]:
a[1:2]

[2]

In [34]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [35]:
a[1:2]

['a']

In [36]:
a = [1,2,3]
a[1] = ['a','b','c']
a

[1, ['a', 'b', 'c'], 3]

a[1:2]로 범위를 지정해서 수정하는 경우와 a[1] 인덱스를 지정해서 수정하는 것은 결과가 다르다는 것을 주의하자.

In [37]:
a[1:3] = [] # 삭제

In [38]:
a

[1]

In [39]:
a = [1,2,3,4]
del a[0] # 삭제
a

[2, 3, 4]

In [40]:
del a[:2] # 범위로 표현해서 삭제하는 것도 가능함.
a

[4]